* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.homes{
 
  margin: 100px;
  // border-bottom: solid 0.7px #000000;
}

.toptitle{
  color: #666;
}

.bookers{
  margin: 20px auto;
}

.start_url{
  text-align: right;
  font-color: #000000
}// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
